<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pseditor</title>

    <link rel="icon" href="icon.png">

    <script src="libs\jquery\dist\jquery.min.js"></script>
    <script src="libs\jquery-ui\jquery-ui.js"></script>

    <link rel="stylesheet" href="libs\bootstrap\dist\css\bootstrap.min.css">
    <script src="libs\bootstrap\dist\js\bootstrap.min.js"></script>

    <link rel="stylesheet" href="libs/angular/angular-csp.css">
    <script src="libs/angular/angular.min.js"></script>

    <script type="text/javascript" src="libs/angular-tree-control/angular-tree-control.js"></script>
    <link rel="stylesheet" type="text/css" href="libs/angular-tree-control/css/tree-control.css">

    <script src="hxhive.js"></script>
    <link rel="stylesheet" href="css/hxhive.css">
</head>
<body ng-app="pseditor" ng-controller="HiveEditorController">
<div id="toolbar" class="btn-toolbar tson-toolbar" role="toolbar">
    <div class="content-toolbar">
        <button class="btn btn-xs btn-info" title="New particles system" ng-click="newPsSystem()">
            <span class="glyphicon glyphicon glyphicon-file" aria-hidden="true"></span>
        </button>
        <button class="btn btn-xs btn-warning" title="Open particle system" ng-click="loadPsSystem()">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
        </button>
        <button class="btn btn-xs btn-success" title="Save particle system" ng-click="savePsSystem()">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div class="content-column-holder resizable-column">
    <div id="tsonbody" class="tsonbody">
        <div class="content-column-scroll-region">
            <div ng-if="!psData.isLoaded()">
                Loading...
            </div>
            <div class="input-group input-group-sm" ng-if="psData.isLoaded()">
                <treecontrol
                        id="tsontree"
                        class="tree-classic"
                        tree-model="psData.treeData"
                        options="treeOptions"
                        on-selection="psData.selectNode(node, selected)"
                        selected-node="selectedNode"
                >
                    {{node.title}}
                    <span ng-if="node.description.length > 0">: </span><span class="tree-node-label-muted">{{node.description}}</span>
                    <button type="button" class="btn btn-xs btn-default tson-tree-node-action" ng-click="node.addSystem()" ng-if="node.isSystem()"
                            title="Add particle system" data-placement="bottom">
                        <span class="glyphicon glyphicon-asterisk"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-default tson-tree-node-action" ng-click="node.addEmitter()" ng-if="node.isSystem()"
                            title="Add particle emitter" data-placement="bottom">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-default tson-tree-node-action" ng-click="psData.deleteNode(node)" ng-if="node.isDeletable"
                            title="Delete node" data-placement="bottom">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-default tson-tree-node-action" ng-click="node.random()" ng-if="node.isEmitter()"
                            title="Randomize" data-placement="bottom">
                        <span class="glyphicon glyphicon-random"></span>
                    </button>
                </treecontrol>
            </div>
        </div>
    </div>
</div>
<div class="content-column-holder resizable-column">
    <div id="psview" class="psview" ng-if="true">
        <canvas id="pscanvas" class="pscanvas" width="800px" height="800px" style="background-color: #cccccc"></canvas>
    </div>
</div>
<div class="content-column-holder resizable-column">
    <div id="tsonproperty" class="tsonproperty" ng-if="psData.selectedNode != null" ng-controller="HivePropertiesController">
        <div class="panel-heading tson-property-group-header">
            <div class="panel panel-warning" ng-if="emitter.isActive()">
                <div class="panel-heading"><h3 class="panel-title">Emitter properties</h3></div>
                <div class="panel-body">
                    <div class="input-group input-group-xs">
                        <span class="input-group-addon">spawn count</span>
                        <input type="number" min="0" max="1000" step="1" class="form-control"
                               ng-model="emitter.spawnCount" ng-change="emitter.update()">
                        <span class="input-group-addon">interval</span>
                        <input type="number" min="0" max="1000" step="0.1" class="form-control"
                               ng-model="emitter.spawnInterval" ng-change="emitter.update()">
                    </div>
                </div>
            </div>
            <div class="panel panel-warning" ng-if="emitter.isActive()">
                <div class="panel-heading"><h3 class="panel-title">Particle properties</h3></div>
                <div class="panel-body">
                    <div class="input-group input-group-xs">
                        <span class="input-group-addon">lifeTime</span>
                        <input type="number" min="0" max="1000" step="0.1" class="form-control"
                               ng-model="emitter.lifeTime" ng-change="emitter.update()" ng-disabled="emitter.lifeTimeEndless">
                        <span class="input-group-addon">delta</span>
                        <input type="number" min="0" max="1000" step="0.1" class="form-control"
                               ng-model="emitter.lifeTimeDelta" ng-change="emitter.update()" ng-disabled="emitter.lifeTimeEndless">
                    </div>
                    <span class="tson-property-label">alpha</span>
                    <div class="input-group input-group-xs">
                        <span class="input-group-addon">from</span>
                        <input type="number" min="0" max="1" step="0.1" class="form-control"
                               ng-model="emitter.alphaFrom" ng-change="emitter.update()">
                        <span class="input-group-addon">delta</span>
                        <input type="number" min="0" max="1" step="0.1" class="form-control"
                               ng-model="emitter.alphaFromDelta" ng-change="emitter.update()">
                    </div>
                    <div class="input-group input-group-xs" ng-if="emitter.alphaEasing != 'none'">
                        <span class="input-group-addon">to</span>
                        <input type="number" min="0" max="1" step="0.1" class="form-control"
                               ng-model="emitter.alphaTo" ng-change="emitter.update()">
                        <span class="input-group-addon">delta</span>
                        <input type="number" min="0" max="1" step="0.1" class="form-control"
                               ng-model="emitter.alphaToDelta" ng-change="emitter.update()">
                    </div>
                    <div class="input-group input-group-xs">
                        <span class="input-group-addon">easing type</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{emitter.alphaEasing}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="p in emitter.easingTypes"><a ng-click="emitter.changeAlphaEasing(p)">{{p}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <span class="tson-property-label">velocity</span>
                    <div class="input-group input-group-xs">
                        <span class="input-group-addon">from</span>
                        <input type="number" min="0" max="1000" step="0.1" class="form-control"
                               ng-model="emitter.velocityFrom" ng-change="emitter.update()">
                        <span class="input-group-addon">delta</span>
                        <input type="number" min="0" max="1000" step="0.1" class="form-control"
                               ng-model="emitter.velocityFromDelta" ng-change="emitter.update()">
                    </div>
                    <div class="input-group input-group-xs" ng-if="emitter.velocityEasing != 'none'">
                        <span class="input-group-addon">to</span>
                        <input type="number" min="0" max="1000" step="0.1" class="form-control"
                               ng-model="emitter.velocityTo" ng-change="emitter.update()">
                        <span class="input-group-addon">delta</span>
                        <input type="number" min="0" max="1000" step="0.1" class="form-control"
                               ng-model="emitter.velocityToDelta" ng-change="emitter.update()">
                    </div>
                    <div class="input-group input-group-xs">
                        <span class="input-group-addon">easing type</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{emitter.velocityEasing}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="p in emitter.easingTypes"><a ng-click="emitter.changeVelocityEasing(p)">{{p}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <span class="tson-property-label">scale</span>
                    <div class="input-group input-group-xs">
                        <span class="input-group-addon">from</span>
                        <input type="number" min="0" max="1000" step="0.1" class="form-control"
                               ng-model="emitter.scaleFrom" ng-change="emitter.update()">
                        <span class="input-group-addon">delta</span>
                        <input type="number" min="0" max="1000" step="0.1" class="form-control"
                               ng-model="emitter.scaleFromDelta" ng-change="emitter.update()">
                    </div>
                    <div class="input-group input-group-xs" ng-if="emitter.scaleEasing != 'none'">
                        <span class="input-group-addon">to</span>
                        <input type="number" min="0" max="1000" step="0.1" class="form-control"
                               ng-model="emitter.scaleTo" ng-change="emitter.update()">
                        <span class="input-group-addon">delta</span>
                        <input type="number" min="0" max="1000" step="0.1" class="form-control"
                               ng-model="emitter.scaleToDelta" ng-change="emitter.update()">
                    </div>
                    <div class="input-group input-group-xs">
                        <span class="input-group-addon">easing type</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{emitter.scaleEasing}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="p in emitter.easingTypes"><a ng-click="emitter.changeScaleEasing(p)">{{p}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <span class="tson-property-label">spin</span>
                    <div class="input-group input-group-xs">
                        <span class="input-group-addon">from</span>
                        <input type="number" min="-10000" max="10000" step="0.1" class="form-control"
                               ng-model="emitter.spinFrom" ng-change="emitter.update()">
                        <span class="input-group-addon">delta</span>
                        <input type="number" min="-10000" max="10000" step="0.1" class="form-control"
                               ng-model="emitter.spinFromDelta" ng-change="emitter.update()">
                    </div>
                    <div class="input-group input-group-xs" ng-if="emitter.spinEasing != 'none'">
                        <span class="input-group-addon">to</span>
                        <input type="number" min="-10000" max="10000" step="1" class="form-control"
                               ng-model="emitter.spinTo" ng-change="emitter.update()">
                        <span class="input-group-addon">delta</span>
                        <input type="number" min="-10000" max="10000" step="1" class="form-control"
                               ng-model="emitter.spinToDelta" ng-change="emitter.update()">
                    </div>
                    <div class="input-group input-group-xs">
                        <span class="input-group-addon">easing type</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{emitter.spinEasing}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="p in emitter.easingTypes"><a ng-click="emitter.changeSpinEasing(p)">{{p}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-warning" ng-if="area.isActive()">
                <div class="panel-heading"><h3 class="panel-title">Emitting area properties</h3></div>
                <div class="panel-body">
                    <div class="input-group input-group-xs">
                        <span class="input-group-addon">area type</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{area.areaTypeName}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="p in area.areaTypes"><a ng-click="area.changeAreaType(p)">{{p}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="input-group input-group-xs" ng-if="area.areaTypeName == 'circle'">
                        <span class="input-group-addon">radius</span>
                        <input type="number" min="1" max="1000" step="1" class="form-control" ng-model="area.one" ng-change="area.update()">
                    </div>
                    <div class="input-group input-group-xs" ng-if="area.areaTypeName == 'ring'">
                        <span class="input-group-addon">min</span>
                        <input type="number" min="1" max="1000" step="1" class="form-control" ng-model="area.one" ng-change="area.update()">
                        <span class="input-group-addon">max</span>
                        <input type="number" min="1" max="1000" step="1" class="form-control" ng-model="area.two" ng-change="area.update()">
                    </div>
                    <div class="input-group input-group-xs" ng-if="area.areaTypeName == 'rectangle'">
                        <span class="input-group-addon">width</span>
                        <input type="number" min="1" max="1000" step="1" class="form-control" ng-model="area.one" ng-change="area.update()">
                        <span class="input-group-addon">height</span>
                        <input type="number" min="1" max="1000" step="1" class="form-control" ng-model="area.two" ng-change="area.update()">
                    </div>
                    <div class="input-group input-group-xs" ng-if="area.areaTypeName == 'arc'">
                        <span class="input-group-addon">radius</span>
                        <input type="number" min="1" max="1000" step="1" class="form-control" ng-model="area.one" ng-change="area.update()">
                        <span class="input-group-addon">from</span>
                        <input type="number" min="0" max="360" step="1" class="form-control" ng-model="area.two" ng-change="area.update()">
                        <span class="input-group-addon">to</span>
                        <input type="number" min="0" max="360" step="1" class="form-control" ng-model="area.three" ng-change="area.update()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>